* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 43.75%;
  }
}

@media only screen and (max-width: 43.75em) {
  html {
    font-size: 31.25%;
  }
}

@media only screen and (max-width: 31.25em) {
  html {
    font-size: 18.75%;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (6)[1fr];
      grid-template-columns: repeat(1fr, 6);
}

.blogs {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  background-color: whitesmoke;
  height: 50rem;
}

.blogs__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

.blogs__header h1 {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-family: "Montserrat", Sens-serif;
}

.blogs__header p {
  margin-top: 1rem;
  font-family: "Nunito", Sens-serif;
  font-style: italic;
  color: #c6b09c;
}

.blogs__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 42rem 5rem 42rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.blogs__section-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  width: 20rem;
  height: 28rem;
}

.blogs__section-card img {
  width: 100%;
  overflow: hidden;
}

.card__details {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: 4.5rem 1fr;
      grid-template-columns: 4.5rem 1fr;
}

.card__details .card__day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eae3d9;
  font-family: "Nunito", Sens-serif;
}

.card__details .card__day h1 {
  font-size: 2rem;
  justify-items: baseline;
  color: #b09c7e;
  margin-top: 1.8rem;
}

.card__details .card__day h3 {
  -ms-grid-column-align: start;
      justify-self: start;
  font-size: 8px;
  color: #d8c3ac;
  font-weight: 100;
}

.card__details .card-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 1.8rem;
}

.card__details .card-heading p,
.card__details .card-heading h2 {
  text-align: left;
  margin-left: 1.2rem;
  font-family: "Nunito", Sens-serif;
}

.card__details .card-heading h2 {
  font-weight: 500;
}

.card__details .card-heading p {
  line-height: 1.5rem;
  color: #6d6d6d;
  text-overflow: clip;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30rem;
  background-color: #333333;
  padding: 5rem 5rem;
  font-family: "Montserrat", Sens-serif;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.footer__form h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 2rem;
  text-align: center;
}

.footer__form input {
  padding: 10px 40px;
  outline: none;
}

.footer__form input::-webkit-input-placeholder {
  color: #000;
}

.footer__form input:-ms-input-placeholder {
  color: #000;
}

.footer__form input::-ms-input-placeholder {
  color: #000;
}

.footer__form input::placeholder {
  color: #000;
}

.footer__form a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-size: 1.2rem;
  background-color: #b49777;
  padding: 11px 20px;
  margin-left: -3px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 2rem;
}

.footer__list > ul {
  list-style: none;
}

.footer__list-item {
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  height: 2rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.footer__list-item:hover {
  background-color: #272721;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  -webkit-transform: scaleY(1.1) translateY(-5px);
          transform: scaleY(1.1) translateY(-5px);
}

.footer__list-item .div {
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 31.25em) {
  .footer__list-item:not(:last-child) {
    margin-bottom: 0.7rem;
  }
}
/*# sourceMappingURL=main.css.map */